In [1]:
import pandas as pd

In [37]:
df_BLI = pd.read_csv('BLI.csv')

In [82]:
df_LS = df_BLI[df_BLI.Indicator == 'Life satisfaction']

In [83]:
df_LS.head()

,LOCATION,Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
1813,AUS,Australia,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.3,NaN,NaN
1814,AUT,Austria,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.1,NaN,NaN
1815,BEL,Belgium,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.9,NaN,NaN
1816,CAN,Canada,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,7.4,NaN,NaN
1817,CZE,Czech Republic,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.7,NaN,NaN

In [84]:
df_LS.Inequality.unique()

array(['Total', 'Men', 'Women', 'High', 'Low'], dtype=object)

In [86]:
df_LS = df_LS[df_LS.Inequality == 'Total']

In [89]:
df_LS = df_LS[['Country', 'Value']].reset_index(drop=True)

In [95]:
df_LS.rename(columns={"Value": "Life satisfaction"}, inplace=True)

In [19]:
df_GDP = pd.read_csv('WEO_Data.csv', encoding = "latin1", usecols=['Country', '2015'])

In [20]:
df_GDP.head()

               Country       2015
0          Afghanistan    599.994
1              Albania   3,995.38
2              Algeria   4,318.14
3               Angola   4,100.32
4  Antigua and Barbuda  14,414.30

In [96]:
df_GDP.rename(columns={"2015": "GDP"}, inplace=True)

In [97]:
df_merged = df_GDP.merge(df_LS, on='Country')

In [99]:
df_merged.sort_values('GDP', inplace=True)

In [100]:
df_merged.head()

       Country         GDP  Life satisfaction
23  Luxembourg  101,994.09                6.9
14     Hungary   12,239.89                5.6
28      Poland   12,495.33                6.1
5        Chile   13,340.91                6.5
21      Latvia   13,618.57                5.9