In [46]:
# import numpy as np
# from exam import hours_studied, calculated_coefficients, intercept

# def log_odds(features, coefficients,intercept):
#   return np.dot(features,coefficients) + intercept

# def sigmoid(z):
#     denominator = 1 + np.exp(-z)
#     return 1/denominator

# # Create predict_class() function here
# def predict_class(features, coefficients, intercept, threshold):
#   calculated_log_odds = log_odds(features, coefficients, intercept)
#   probabilities = sigmoid(calculated_log_odds)
#   return np.where(probabilities >= threshold, 1, 0)
# # Make final classifications on Codecademy University data here


# final_results = predict_class(hours_studied, calculated_coefficients, intercept, 0.5)

# print(final_results)

In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [48]:
df = pd.read_csv('./titanic/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [50]:
df_20 = df.iloc[:20].copy()

In [51]:
from sklearn.linear_model import LogisticRegression

In [52]:
df_20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  20 non-null     int64
 1   Survived     20 non-null     int64
 2   Pclass       20 non-null     int64
 3   Name         20 non-null     object
 4   Sex          20 non-null     object
 5   Age          17 non-null     float64
 6   SibSp        20 non-null     int64
 7   Parch        20 non-null     int64
 8   Ticket       20 non-null     object
 9   Fare         20 non-null     float64
 10  Cabin        5 non-null      object
 11  Embarked     20 non-null     object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ KB

In [53]:
mean = df_20['Age'].mean()
df_20['Age'].fillna(mean, inplace=True)
age = df_20[['Age']]
age.shape

(20, 1)

In [54]:
survival = df_20['Survived']
survival.shape

(20,)

In [55]:
model = LogisticRegression()
model.fit(age, survival)
model.coef_, model.intercept_

(array([[0.02705495]]), array([-0.75660013]))

In [56]:
coef = np.array([[0.02705495]])
bias = bias = np.array([-0.75660013])

<h3>Define the log-odds function</h3>

In [57]:
def log_odds(features, coefficients, bias):
    return np.dot(features, coefficients) + bias

In [58]:
result_log_odds = log_odds(age, coef, bias)
result_log_odds

array([[-0.16139123],
       [ 0.27148797],
       [-0.05317143],
       [ 0.19032312],
       [ 0.19032312],
       [ 0.00093847],
       [ 0.70436717],
       [-0.70249023],
       [-0.02611648],
       [-0.37783083],
       [-0.64838033],
       [ 0.81258697],
       [-0.21550113],
       [ 0.29854292],
       [-0.37783083],
       [ 0.73142212],
       [-0.70249023],
       [ 0.00093847],
       [ 0.08210332],
       [ 0.00093847]])

<h3>Define the sigmoid function</h3>

In [59]:
def sigmoid(log_odds):
    denominator = 1 + np.exp(-log_odds)
    return 1 / denominator

In [60]:
p_hat = sigmoid(result_log_odds)
p_hat

array([[0.45973954],
       [0.56745816],
       [0.48671027],
       [0.54743767],
       [0.54743767],
       [0.50023462],
       [0.66915532],
       [0.33126034],
       [0.49347125],
       [0.40665018],
       [0.34335462],
       [0.6926605 ],
       [0.44633225],
       [0.57408628],
       [0.40665018],
       [0.67511727],
       [0.33126034],
       [0.50023462],
       [0.52051431],
       [0.50023462]])

In [61]:
survival = survival.to_numpy().reshape(-1, 1)

In [62]:
def log_loss(probabilities, labels):
    return (-1 / labels.shape[0]) * np.sum(labels * np.log(probabilities) + (1-labels) * np.log(1-probabilities))

In [63]:
cost = log_loss(p_hat, survival)
cost

0.6712202173928541

In [64]:
def predict(features, coefficients, bias, threshold):
    result_log_odds = log_odds(features, coefficients, bias)
    p_hat = sigmoid(result_log_odds)
    return np.where(p_hat >= threshold, 1, 0)

In [65]:
predicted_result = predict(age, coef, bias, 0.5)
predicted_result

array([[0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1]])

<h3>Sci-kit Learn implementation</h3>

In [66]:
logit_reg = LogisticRegression()

In [67]:
from sklearn.preprocessing import StandardScaler

z_score_scaler = StandardScaler()
age_scaled = z_score_scaler.fit_transform(age)

In [69]:
logit_reg.fit(age_scaled, survival.ravel())

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [72]:
print(logit_reg.coef_)
print(logit_reg.intercept_)

[[0.35314314]]
[0.00051938]

In [71]:
# Testing if the parameter vector theta given in step 5 is the optimized one. 
result_log_odds_sk = log_odds(age_scaled, logit_reg.coef_, logit_reg.intercept_)
p_hat_sk = sigmoid(result_log_odds_sk)
cost_sk = log_loss(p_hat_sk, survival)
print(cost_sk)

0.6719002131026202

In [74]:
df_20_new = df.iloc[20:40].copy()
df_20_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 20 to 39
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  20 non-null     int64
 1   Survived     20 non-null     int64
 2   Pclass       20 non-null     int64
 3   Name         20 non-null     object
 4   Sex          20 non-null     object
 5   Age          14 non-null     float64
 6   SibSp        20 non-null     int64
 7   Parch        20 non-null     int64
 8   Ticket       20 non-null     object
 9   Fare         20 non-null     float64
 10  Cabin        4 non-null      object
 11  Embarked     20 non-null     object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ KB

In [79]:
mean = df_20_new['Age'].mean()
df_20_new['Age'].fillna(mean, inplace=True)
age_new = df_20_new[['Age']]
age_new_scaled = z_score_scaler.fit_transform(age_new)

predictions = logit_reg.predict(age_new_scaled)
print(predictions)
print(df_20_new['Survived'].ravel())

#survival = df_20_new['Survived']

[1 1 0 0 0 1 1 0 1 1 1 1 1 1 0 1 1 0 0 0]
[0 1 1 1 0 1 0 0 1 0 0 1 1 0 0 0 1 0 0 1]

<h3>Submission part</h3>

In [126]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [158]:
df = pd.read_csv('./titanic/train.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [106]:
df['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [107]:
df[(df.Pclass == 3) & (df.Survived == 1)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
838,839,1,3,"Chip, Mr. Chang",male,32.0,0,0,1601,56.4958,NaN,S
855,856,1,3,"Aks, Mrs. Sam (Leah Rosen)",female,18.0,0,1,392091,9.3500,NaN,S
858,859,1,3,"Baclini, Mrs. Solomon (Latifa Qurban)",female,24.0,0,3,2666,19.2583,NaN,C
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C

In [184]:
df = pd.read_csv('./titanic/train.csv')

df['Sex'] = df['Sex'].map({'female':1, 'male':0})

mean = df['Age'].mean()
df['Age'].fillna(mean, inplace=True)

df['UpperClass'] = df['Pclass'].apply(lambda x: 1 if x == 1 else 0)
df['MiddleClass'] = df['Pclass'].apply(lambda x: 1 if x == 2 else 0)
df['LowerClass'] = df['Pclass'].apply(lambda x: 1 if x == 3 else 0)


X = df[['Sex', 'Age', 'UpperClass', 'MiddleClass', 'LowerClass']]
y = df['Survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

logit_reg = LogisticRegression()
logit_reg.fit(X_train_scaled, y_train)
# score_train = logit_reg.score(X_train_scaled, y_train)
# print(score_train)

score_test = logit_reg.score(X_test_scaled, y_test)
print(score_test)

Jack = np.array([0.0, 20.0, 0.0, 0.0, 1.0])
Rose = np.array([1.0, 17.0, 1.0, 0.0, 0.0])
Fabrizio = np.array([0.0, 22.0, 0.0, 0.0, 1.0])
Student = np.array([0.0, 24.0, 0.0, 1.0, 0.0])

fictional_passengers = np.array([Jack, Rose, Fabrizio, Student])
fictional_passengers_scaled = scaler.transform(fictional_passengers)

logit_reg.predict(fictional_passengers_scaled)

0.7907303370786517
0.8379888268156425

array([0, 1, 0, 0], dtype=int64)